{{@extends:templates/homepage.html}}

{{@section:header}}
    <h1>Selamat Datang</h1>
{{@endsection}}

{{@section:content}}
    {{@component:'templates/components/alert.html' with message="Sukses Login!" type="success"}}

    <p><b><i>Halo, {{@user.name}}</i></b></p>
    <p>Role: {{@user.role}}</p>
    <p>{{@judul_article}}</p>
    <p>Created At: {{@user.created_at|date:"d M Y"}}</p>
    <pre><code>
        Aktifkan cache dari luar:
        $layout->enableCache = true;
        Hapus semua cache:
        array_map('unlink', glob('cache/*.html'));
    </code></pre>
    <h4>Feature Templating ini</h4>
    <ul>
        <li>✅ Layout inheritance</li>
        <li>✅ Komponen</li>
        <li>✅ Filter chaining</li>
        <li>✅ Sistem layout dengan @extends, @section, @endsection, dan @section:... (alias @yield)</li>
        <li>✅ Parser variabel, helper chaining, include, loop, dan conditionals</li>
        <li>✅ Caching</li>
        <li>✅ Auto-refresh + CLI cache cleaner</li>
    </ul>
{{@endsection}}

{{@section:footer}}
    <small>© 2025 Riza</small>
{{@endsection}}