<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- variable title -->
    <title>{{@title}}</title>
</head>
<body>
    {{-- variable page_data_name --}}
    <h1>{{@page_data_name}}</h1>
    {{-- Komentar ini tidak akan tampil --}}
    {{'templates/' ~ template_file ~ '.html'}}
    <!-- include main.html-->
    {{'templates/main.html'}}
    <!-- include main.html-->
    {{'templates/footer.html'}}
</body>
</html>