<main>
     {{if user.name}}
        <b><i>Halo, {{@user.name}}</i></b>
    {{endif}}
    <p>Role: {{@user.role}}</p>
    <h3>{{@judul_article}}</h3>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis totam fuga eveniet alias. Modi, consectetur. Illum placeat voluptatem eius quas suscipit. Possimus eius dicta fugiat repellat! Recusandae, ducimus tempore?
        <h2>Nama Asli: {{@user.name}}</h2>
        <h2>Nama Kapital: {{upper user.name}}</h2>
        <h2>Nama Kecil: {{lower user.name}}</h2>
        <h2>Nama Kecil Kapital: {{@user.name|lower|ucwords}}</h2>
        <p>Format Tanggal 1: {{date user.created_at "d M Y"}}</p>
        <p>Format Tanggal 2: {{@user.created_at|date:"d M Y"}}</p>
    </article>
    <ul>
    {{foreach item in items}}
        <li>{{@item}}</li>
    {{endforeach}}
    </ul>
</main>